 button{
  background-color:rgb(255, 184, 202);
  color:white;
  border-radius: 25px 25px;
  font-size: 2em;
 }
 h1{
  
  display : flex; 
  justify-content : center;
  align-content   : center; 
  position: fixed;
  top: 30%;
  left: 53%;
  margin-top: -50px;
  margin-left: -100px;
  justify-self:flex-start;
  justify-self: flex-end ;
}
#joke{
  color:white;
}
.icon{
   left:50%;
}
.clicker{
  text-align: center;
  position: relative;
}
.container{
  width:400px;
  height:400px;
  margin:100px auto;
  position: relative;
  color:white;
}


.container h1{
   text-align: center;
   position: relative;
   transform: translateX(-30%);
   
}
/* fix btn */

body {
  background-color: rgb(129, 129, 224);
    /* background: inear-gradient(#fad203, #ff7c80,#bd8dfc) fixed;l */
    
  }
